@font-face {
  font-family: "oswald";
  src: url("../../fonts/oswaldregular.woff2") format("woff2"), url("../../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  src: url("../../fonts/oswaldmedium.woff2") format("woff2"), url("../../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "oswald", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}
.title-litle {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.basic-text {
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.center-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  width: 320px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .wrap {
    width: 768px;
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .wrap {
    width: 1440px;
    padding: 0 110px;
  }
}
.button {
  background-color: #68b738;
  font-family: "oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 244px;
  height: 54px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 95vw;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.contacts {
  padding: 0 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .contacts {
    padding: 0 30px;
    margin-bottom: 40px;
    margin-top: 73px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .contacts {
    margin: 0;
    position: relative;
  }
}
.contacts--catalog {
  margin-top: 46px;
}
@media (min-width: 768px) {
  .contacts--catalog {
    margin-top: 0;
  }
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    position: absolute;
    background-color: white;
    width: 570px;
    height: 201px;
    top: 89px;
    left: 665px;
    align-items: center;
    justify-content: space-around;
    gap: 27px;
  }
}
.contacts__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 50vw;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .contacts__title {
    margin: 0;
  }
}
.contacts__address {
  font-family: "arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  max-width: 50vw;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    text-align: right;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .contacts__address {
    text-align: left;
    padding-right: 22px;
    margin-top: 21px;
  }
}
.contacts__map {
  width: 100vw;
  height: 370px;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 390px;
  }
}
@media (min-width: 1440px) {
  .contacts__map {
    height: 400px;
  }
}
.contacts__address-br {
  display: none;
}
@media (min-width: 768px) {
  .contacts__address-br {
    display: inline;
  }
}
[class*="copyrights-pane"] {
  display: none;
}
.page__wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
@media (min-width: 1440px) {
  .page-header {
    position: relative;
  }
}
@media (min-width: 1440px) {
  .page-header__background {
    position: absolute;
    width: 50.3%;
    height: 695px;
    background-size: 720px;
    right: 0;
    background-position: top right;
    background-color: #65a93c;
    background-repeat: no-repeat;
    background-image: url("../img/header/background-desktop.jpg");
  }
}
@media (min-width: 1440px) and (min-resolution: 2dppx) {
  .page-header__background {
    background-image: url("../img/header/background-desktop@2x.jpg");
  }
}
.page-header__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 23px;
    padding: 0 30px;
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-header__wrapper {
    grid-template-columns: 1fr 1fr;
    padding: 0 110px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 53px;
  }
}
.page-header__logo {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .page-header__logo {
    padding: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-header__logo {
    position: relative;
    left: -7px;
  }
}
.page-header__logo-img:hover {
  opacity: 80%;
}
.page-header__logo-img:active {
  opacity: 60%;
}
@media (min-width: 768px) {
  .page-header__logo-img {
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-header__logo-img {
    width: 202px;
    height: 59px;
  }
}
.page-header__logo-text--mobile {
  align-self: center;
  position: relative;
  left: 4px;
}
@media (min-width: 768px) {
  .page-header__logo-text--mobile {
    display: none;
  }
}
.page-header__logo-text--mobile--catalog {
  left: -4px;
  top: 3px;
}
.page-header__toggle {
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  height: 18px;
  width: 24px;
  border: 0;
  background-color: white;
  align-self: center;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}
.page-header__toggle--open {
  background-image: url("../img/navigation/navigation-mobile.svg");
}
.page-header__toggle--close {
  background-image: url("../img/navigation/navigation-mobile-close.svg");
}
.page__footer {
  background-color: #eaeaea;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 30px 30px 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-footer__wrapper {
    width: 1440px;
    padding: 35px 110px 0 105px;
    margin: 0 auto;
  }
}
.page-footer__logo {
  align-self: center;
  padding-bottom: 15px;
  cursor: pointer;
}
.page-footer__logo:hover {
  opacity: 70%;
}
.page-footer__logo:active {
  opacity: 40%;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 0;
  }
}
.page-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .page-footer__social-list {
    border: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}
.page-footer__social-item {
  cursor: pointer;
}
.page-footer__social-item--vk {
  padding-left: 34px;
}
@media (min-width: 768px) {
  .page-footer__social-item--vk {
    padding-left: 0;
  }
}
.page-footer__social-item--fb {
  padding-right: 42px;
}
.page-footer__social-item {
  align-self: center;
}
@media (min-width: 768px) {
  .page-footer__social-item {
    padding-right: 30px;
  }
  .page-footer__social-item:last-child {
    padding-right: 0;
  }
}
.page-footer__social-item--vk path,
.page-footer__social-item--inst path,
.page-footer__html-academy path,
.page-footer__social-item--fb path {
  transition-duration: 500ms;
}
.page-footer__social-item--vk:hover path,
.page-footer__social-item--inst:hover path,
.page-footer__html-academy:hover path {
  fill: #68b738;
}
.page-footer__social-item--vk:active path,
.page-footer__social-item--inst:active path,
.page-footer__html-academy:active path {
  fill: #68b738;
  opacity: 40%;
}
.page-footer__html-academy:active {
  opacity: 40%;
}
.page-footer__social-item--fb:hover path {
  stroke: #68b738;
}
.page-footer__social-item--fb:active path {
  stroke: #68b738;
  opacity: 40%;
}
@media (min-width: 768px) {
  .page-footer__social-item--vk svg {
    width: 30px;
    height: 23px;
  }
}
@media (min-width: 768px) {
  .page-footer__social-item--inst svg {
    width: 24px;
    height: 24px;
  }
}
@media (min-width: 768px) {
  .page-footer__social-item--fb svg {
    width: 20px;
    height: 30px;
  }
}
.page-footer__html-academy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 138px;
       column-gap: 138px;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 15px;
  border-top: 1px solid #d9d9d9;
  cursor: pointer;
}
@media (min-width: 768px) {
  .page-footer__html-academy {
    border: 0;
    -moz-column-gap: 2px;
         column-gap: 2px;
    padding-bottom: 7px;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .page-footer__html-academy-span {
    padding-right: 22px;
  }
}
.main-nav {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-nav {
    font-size: 18px;
    line-height: 24px;
    min-height: 52px;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-nav {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .main-nav--close {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  margin: 20px 0 0 0;
  min-height: 192px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    min-height: 52px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    width: 485px;
    margin-left: auto;
    padding-top: 5px;
    gap: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-nav__list {
    width: 505px;
  }
}
.main-nav__item {
  padding-bottom: 25px;
  padding-top: 20px;
  border-bottom: 1px solid #e6e6e6;
  z-index: 2;
  max-width: 87vw;
}
.main-nav__item:first-child {
  padding-top: 21px;
  border-top: 1px solid #e6e6e6;
}
.main-nav__item:last-child {
  padding-bottom: 0;
  border: 0;
}
@media (min-width: 768px) {
  .main-nav__item {
    padding: 0;
    border-bottom: 0;
    flex: auto;
    text-align: right;
  }
  .main-nav__item:first-child {
    padding-top: 0;
    border-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-nav__item:last-child {
    padding-right: 8px;
  }
}
.main-nav__link {
  color: #000;
}
.main-nav__link:hover {
  color: #666666;
}
.main-nav__link:active {
  color: #b3b3b3;
}
@media (min-width: 1440px) {
  .main-nav__link {
    color: white;
  }
  .main-nav__link:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.main-nav__link--current {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav__link--current::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 2px;
    background: #68b738;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .main-nav__link--current::after {
    background: white;
    bottom: -6px;
  }
}
@media (min-width: 768px) {
  .main-nav__link--form::after {
    bottom: -7px;
  }
}
@media (min-width: 1440px) {
  .main-nav__link--black {
    color: #000;
  }
  .main-nav__link--black::after {
    background-color: #68b738;
  }
  .main-nav__link--black:hover {
    color: #000;
    opacity: 70%;
  }
  .main-nav__link--black:active {
    opacity: 40%;
  }
}
.promo {
  min-height: 480px;
}
@media (min-width: 768px) {
  .promo {
    padding: 0 30px;
    height: 800px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo {
    padding: 0 110px;
    margin: 0 auto;
    width: 1440px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) and (min-width: 1440px) {
  .promo {
    height: 632px;
  }
}
.promo__wrapper {
  display: grid;
  grid-template-rows: 305px 175px;
  justify-items: start;
}
@media (min-width: 768px) {
  .promo__wrapper {
    grid-template-rows: 1fr 2fr;
    padding-left: 74px;
  }
}
.promo__text {
  font-size: 14px;
  width: 100%;
  line-height: 14px;
  color: white;
  text-align: center;
  background-image: url("../../../img/promo/index-background-mobile.jpg");
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: 100% auto;
}
@media (min-width: 768px) {
  .promo__text {
    background-image: none;
    background-color: white;
    color: #000;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__text {
    margin-top: 50px;
  }
}
.promo__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: white;
  margin-bottom: 25px;
  margin-top: 30px;
  max-width: 100vw;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .promo__title {
    color: #000;
    padding-left: 13px;
    margin-top: 60px;
    padding-bottom: 20px;
    max-height: 24vh;
    text-align: inherit;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__title {
    padding-left: 0;
    margin-top: 58px;
    padding-bottom: 17px;
  }
}
.promo__description {
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 100vw;
  overflow: hidden;
}
@media (min-width: 768px) {
  .promo__description {
    padding-left: 14px;
    max-height: 4vh;
  }
}
@media (min-width: 1440px) {
  .promo__description {
    padding-bottom: 51px;
    padding-left: 0;
  }
}
.promo__program {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .promo__program {
    justify-content: flex-start;
    width: 245px;
  }
}
.promo__product {
  height: 180px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .promo__product {
    top: 400px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__product {
    left: 446px;
    top: -7px;
  }
}
.promo__product-picture {
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .promo__product-picture {
    width: 580px;
    bottom: 197px;
    left: -19px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__product-picture {
    bottom: 0;
    position: absolute;
    top: -313px;
    left: -114px;
  }
}
@media (min-width: 768px) {
  .promo__product-img {
    max-width: 700px;
  }
}
.promo__button,
.promo__program {
  width: 100%;
}
@media (min-width: 1440px) {
  .promo__button,
  .promo__program {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
  }
}
.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    height: 55px;
    position: absolute;
    left: 112px;
    top: 372px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .promo__button {
    background-color: #68b738;
    left: -1px;
    top: -11px;
  }
}
.program-selection__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .program-selection__wrapper {
    margin-top: 42px;
  }
}
@media (min-width: 768px) {
  .program-selection__wrapper {
    display: flex;
    padding: 0 30px;
    flex-direction: column;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-selection__wrapper {
    padding: 0 110px;
    margin: 0 auto;
    width: 1440px;
    justify-content: space-between;
    flex-direction: row;
  }
}
.nutrition-program {
  min-height: 265px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px 0 20px;
  margin-top: 23px;
  max-width: 87vw;
  overflow: hidden;
}
@media (min-width: 768px) {
  .nutrition-program {
    margin-top: 30px;
    min-height: 372px;
    padding: 0 50px;
    padding-left: 34px;
    justify-content: space-evenly;
    max-width: 95vw;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program {
    width: 570px;
  }
}
.nutrition-program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-left: 12px;
  padding-top: 30px;
  font-weight: 400;
  margin: 0;
}
.nutrition-program__title::before {
  content: "";
  width: 50px;
  height: 53px;
  position: absolute;
  top: 23px;
  left: 1px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .nutrition-program__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 0;
    padding-left: 20px;
    padding-top: 52px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__title {
    text-align: center;
    padding-top: 45px;
  }
}
.nutrition-program__title--one::before {
  background-image: url("../img/nutrition-program/cat_back.svg");
}
@media (min-width: 768px) {
  .nutrition-program__title--one::before {
    background-image: none;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__title--one::before {
    background-image: url("../img/nutrition-program/cat_back.svg");
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    left: 16px;
    top: 10px;
  }
}
.nutrition-program__title--two {
  padding-left: 37px;
}
.nutrition-program__title--two::before {
  width: 67px;
  left: -10px;
  top: 23px;
  background-image: url("../img/nutrition-program/cat_back-2.svg");
}
@media (min-width: 768px) {
  .nutrition-program__title--two {
    padding-left: 20px;
  }
  .nutrition-program__title--two::before {
    background-image: none;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__title--two {
    padding-left: 65px;
    padding-top: 45px;
  }
  .nutrition-program__title--two::before {
    background-image: url("../img/nutrition-program/cat_back-2.svg");
    height: 100px;
    width: 135px;
    background-size: 135px 100px;
    left: -4px;
    top: 16px;
  }
}
.nutrition-program__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  flex-grow: 1;
  padding-top: 29px;
  text-align: left;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .nutrition-program__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    flex-grow: 0;
    padding: 0 0 37px 20px;
    position: relative;
    padding-right: 221px;
  }
  .nutrition-program__description::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__description {
    padding: 40px 0 0 10px;
  }
}
@media (min-width: 768px) {
  .nutrition-program__description-one::before {
    background-image: url("../../../img/nutrition-program/cat_back.svg");
    right: 10px;
    bottom: -10px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__description-one::before {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .nutrition-program__description-two {
    padding-right: 264px;
    position: relative;
    padding-bottom: 39px;
  }
  .nutrition-program__description-two::before {
    background-image: url("../../../img/nutrition-program/cat_back-2.svg");
    width: 270px;
    background-size: 270px 200px;
    top: -51px;
    right: -22px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__description-two {
    padding: 40px 0 0 10px;
  }
  .nutrition-program__description-two::before {
    background-image: none;
  }
}
.nutrition-program__button {
  font-family: "oswald", sans-serif;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  height: 49px;
  display: flex;
  border-top: 1px solid #d9d9d9;
  position: relative;
  padding-bottom: 8px;
}
.nutrition-program__button:active {
  opacity: 30%;
}
.nutrition-program__button::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 12px;
  background-image: url("../img/nutrition-program/icon-arrow.svg");
  left: 100px;
  background-repeat: no-repeat;
  background-position: right center;
  transition-duration: 400ms;
}
@media (min-width: 768px) {
  .nutrition-program__button {
    font-size: 20px;
    border: 0;
    padding-bottom: 42px;
    padding-left: 20px;
  }
  .nutrition-program__button::after {
    left: 151px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .nutrition-program__button {
    padding-bottom: 31px;
    padding-left: 11px;
  }
}
.nutrition-program__button:hover::after {
  width: 32px;
}
@media (min-width: 768px) {
  .nutrition-program__button--two::after {
    left: 147px;
  }
}
.advantages__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 0 105px;
  }
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  max-width: 87vw;
  overflow: hidden;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    -moz-column-gap: 134px;
         column-gap: 134px;
    row-gap: 36px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages__list {
    gap: 73px;
  }
}
.advantages__item {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .advantages__item {
    display: block;
    flex-direction: column;
    align-items: start;
    max-width: 250px;
    height: 280px;
    flex: auto;
    justify-content: space-evenly;
    margin: 0;
    padding: 38px 0 0 0;
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages__item {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .advantages__item-one {
    background-image: url("../img/advantages/one.png");
    background-position: 126px 38px;
  }
}
@media (min-width: 768px) {
  .advantages__item-two {
    background-image: url("../img/advantages/two.png");
    background-position: 122px 34px;
  }
}
@media (min-width: 768px) {
  .advantages__item-three {
    background-image: url("../img/advantages/three.png");
    background-position: 123px 38px;
  }
}
@media (min-width: 768px) {
  .advantages__item-four {
    background-image: url("../img/advantages/four.png");
    background-position: 123px 37px;
  }
}
.advantages__item-icon-container {
  background-color: #68b738;
  min-width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .advantages__item-icon-container {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages__item-icon-container {
    margin-bottom: 33px;
  }
}
.advantages__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  line-height: 40px;
  max-width: 87vw;
  overflow: hidden;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .advantages__title {
    margin-bottom: 37px;
    margin-top: 44px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .advantages__title {
    margin-top: 70px;
  }
}
.advantages-item__descreption {
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages-item__descreption {
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
    max-width: 40vw;
  }
}
.advantages__item-img {
  max-width: 40px;
  max-height: 40px;
}
.background {
  background: linear-gradient(to top, #eaeaea 71%, white 29%);
}
.example {
  padding: 0 20px;
  background-color: #eaeaea;
  margin-top: 42px;
}
@media (min-width: 768px) {
  .example {
    padding: 0 30px;
    background: linear-gradient(to top, #eaeaea 42.6%, white 29%);
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example {
    padding: 0 105px;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to top, #eaeaea 71%, white 29%);
  }
}
@media (min-width: 768px) {
  .example__wrapper {
    background-color: white;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to top, #eaeaea 71%, white 29%);
  }
}
@media (min-width: 768px) {
  .example__result--tablet {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__result--tablet {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}
.example__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  line-height: 40px;
  font-weight: 400;
  padding-top: 29px;
  overflow: hidden;
  max-width: 87vw;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .example__title {
    margin-top: 58px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    padding-bottom: 83px;
    margin-top: 23px;
  }
}
.example__description {
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 12px;
  overflow: hidden;
  max-width: 88vw;
}
@media (min-width: 768px) {
  .example__description {
    line-height: 24px;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 42px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__description {
    padding-bottom: 27px;
    width: 435px;
    margin-top: 62px;
  }
}
.example__result {
  display: flex;
  justify-content: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .example__result {
    gap: 36px;
  }
}
.example__result-description {
  border: 1px solid #cdcdcd;
  font-family: "oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  width: 124px;
  height: 62px;
}
@media (min-width: 768px) {
  .example__result-description {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 78px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__result-description {
    height: 80px;
    padding-right: 16px;
  }
}
.example__result-description--two {
  height: 69px;
}
@media (min-width: 768px) {
  .example__result-description--two {
    height: 84px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__result-description--two {
    height: 80px;
  }
}
.example__result-title {
  font-size: 12px;
  color: #444444;
  text-align: center;
  transform: rotate(180deg);
  text-transform: lowercase;
  font-family: "Arial", sans-serif;
}
@media (min-width: 768px) {
  .example__result-title {
    font-size: 14px;
    line-height: 10px;
    padding-bottom: 3px;
  }
}
.example__price {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 7px;
}
@media (min-width: 768px) {
  .example__price {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    text-align: right;
    padding-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__price {
    margin-top: 50px;
    display: flex;
  }
}
.example__result-text {
  transform: rotate(180deg);
}
.example__result-description > .example__result-title {
  width: 100%;
}
@media (min-width: 768px) {
  .example__price--text {
    display: block;
    padding: 0;
    margin-top: 7px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .example__price--text {
    padding-right: 60px;
    margin-top: 0;
  }
}
.slider {
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .slider {
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .slider {
    height: 657px;
  }
}
.slider--wrap {
  min-height: 280px;
  background-color: #eaeaea;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .slider--wrap {
    background: linear-gradient(to top, #eaeaea 65.6%, white 34%);
    height: 542px;
    overflow: visible;
    width: 705px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .slider--wrap {
    width: 650px;
    margin-top: 0;
    background: linear-gradient(to top, #eaeaea 65%, white 35%);
    height: 545px;
  }
}
@media (min-width: 768px) {
  .slider-slide {
    position: absolute;
    display: flex;
  }
}
@media (min-width: 768px) {
  .slider-slide--one {
    left: 17px;
  }
}
@media (min-width: 1440px) {
  .slider-slide--one {
    left: -32px;
  }
}
.slider-silde--two {
  max-width: 280px;
}
@media (min-width: 768px) {
  .slider-silde--two {
    right: -17px;
    width: 350px;
    max-width: 660px;
    transition: width 1s ease-out;
  }
}
@media (min-width: 768px) {
  .slider__pic {
    display: flex;
    background: linear-gradient(to top, #eaeaea 66.8%, white 35%);
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .slider__pic {
    background: linear-gradient(to top, #eaeaea 66%, white 34%);
  }
}
.slider__img--before {
  height: 215px;
  width: auto;
}
@media (min-width: 768px) {
  .slider__img--before {
    height: 510px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.slider__off {
  display: none;
}
@media (min-width: 768px) {
  .slider__off {
    display: flex;
  }
}
@media (min-width: 1440px) {
  .slider--desk {
    margin-left: 135px;
  }
}
.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  padding-top: 2px;
}
@media (min-width: 768px) {
  .slider__control {
    background-color: #eaeaea;
    padding-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .slider__control {
    justify-content: end;
    gap: 8px;
  }
}
.slider__button {
  width: 70px;
  height: 40px;
  border: 0;
  background: #eaeaea;
}
.slider__button:focus {
  background: #eaeaea;
}
.slider__button:hover {
  color: #68b738;
}
@media (min-width: 768px) {
  .slider__button {
    font-size: 20px;
    border-bottom: 1px dashed #dcdcdc;
  }
}
@media (min-width: 1440px) {
  .slider__button {
    margin: 0;
    padding: 0;
  }
}
.slider__progress-bar {
  width: 84px;
  height: 14px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .slider__progress-bar {
    width: 450px;
    background-color: #dcdcdc;
    height: 6px;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .slider__progress-bar {
    width: 438px;
  }
}
.slider__indication-bar {
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .slider__indication-bar {
    display: none;
  }
}
.slider__indication-bar--right {
  background-color: white;
}
.slider__indication-bar--center {
  display: none;
}
@media (min-width: 768px) {
  .slider__indication-bar--center {
    display: block;
    width: 34px;
    height: 34px;
    background-image: radial-gradient(#68b738 4px, white 5px);
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 205px;
    transition: left 1s ease-out;
  }
}
@media (min-width: 768px) {
  .slider__pic--cat-fat {
    -o-object-position: left;
       object-position: left;
  }
}
@media (min-width: 768px) {
  .slider__pic--cat-skinny {
    -o-object-position: right;
       object-position: right;
  }
}
@media (min-width: 768px) {
  .catalog {
    margin-bottom: -11px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog {
    margin-bottom: 4px;
  }
}
.catalog__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__wrapper {
    padding: 0 110px;
    width: 1440px;
    margin: 0 auto;
  }
}
.catalog__title {
  font-weight: 400;
  margin-top: 34px;
  max-width: 87vw;
}
@media (min-width: 768px) {
  .catalog__title {
    margin-top: 64px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__title {
    margin-top: 73px;
    margin-left: -7px;
  }
}
.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
@media (min-width: 768px) {
  .catalog__list {
    gap: 60px;
    justify-content: flex-start;
    margin-top: 165px;
    margin-bottom: 0;
    row-gap: 62px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__list {
    gap: 80px;
    margin-left: -7px;
  }
}
.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr -webkit-min-content;
  grid-template-rows: 1fr 1fr min-content;
  padding-top: 12px;
  position: relative;
}
.catalog__item::before {
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  background-color: #e9e6e6;
  top: 15px;
}
@media (min-width: 768px) {
  .catalog__item {
    height: 430px;
    margin-bottom: 78px;
  }
  .catalog__item::before {
    height: 0;
  }
}
@media (min-width: 768px) {
  .catalog__item {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr -webkit-min-content;
    grid-template-rows: 2fr 1fr 1fr min-content;
    justify-items: center;
    width: 324px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__item {
    width: 245px;
    margin-bottom: 65px;
  }
}
.catalog__item-img-container {
  width: 140px;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .catalog__item-img-container {
    grid-row: 1;
    position: absolute;
    width: 170px;
    top: -125px;
    padding-top: 38px;
  }
}
@media (min-width: 768px) {
  .catalog__item-img-container--small-img {
    top: -98px;
  }
}
.catalog__item-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 23px 50px 10px 0;
  margin: 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  .catalog__item-title {
    font-size: 20px;
    line-height: 23px;
    padding: 0;
    width: 145px;
    text-align: center;
    padding-top: 150px;
  }
}
.catalog__item-description {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__item-description {
    width: 250px;
    border-top: 1px solid #cdcdcd;
    padding: 5px 0;
  }
  .catalog__item-description:first-child {
    border: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__item-description {
    justify-content: space-between;
    width: 242px;
    padding: 5px 38px;
  }
}
.catalog__text {
  font-family: "arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  max-width: 35vw;
}
.catalog__item-information {
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .catalog__item-information {
    width: 170px;
  }
}
.catalog__item-information td {
  font-size: 12px;
  line-height: 16px;
  font-family: "arial", sans-serif;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__item-information td {
    font-size: 16px;
    padding: 1px 0 1px 0;
  }
}
.catalog-item__button {
  grid-column-start: 1;
  grid-column-end: -1;
  height: 40px;
  width: 100%;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog-item__button {
    width: 250px;
    margin-top: 24px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog-item__button {
    width: 170px;
    margin-top: 25px;
  }
}
.catalog__show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  max-width: 87vw;
}
@media (min-width: 768px) {
  .catalog__show {
    text-align: center;
    width: 248px;
    height: 100%;
    justify-content: space-between;
  }
}
.catalog__item-show {
  width: 100%;
  border-top: 1px solid #cdcdcd;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .catalog__item-show {
    width: 324px;
    height: 430px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cdcdcd;
    margin-top: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__item-show {
    width: 245px;
  }
}
.catalog__show-link {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .catalog__show-link {
    padding-top: 47px;
  }
  .catalog__show-link svg {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__show-link {
    padding-top: 47px;
  }
}
.catalog__show-link-img {
  padding-top: 24px;
}
.catalog__show-link-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin: 7px 0 22px 0;
}
@media (min-width: 768px) {
  .catalog__show-link-text {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 97px;
    overflow: hidden;
    max-height: 10vw;
    max-width: 178px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__show-link-text {
    padding-bottom: 65px;
  }
}
.catalog__show-link-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #444444;
  border: 0;
}
.catalog__show-link-button:hover {
  background-color: #ebebeb;
}
.catalog__show-link-button:active {
  background-color: #ebebeb;
  color: #b3b3b3;
}
@media (min-width: 768px) {
  .catalog__show-link-button {
    width: 250px;
    margin-bottom: 42px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__show-link-button {
    width: 169px;
    margin-bottom: 41px;
  }
}
.catalog__show-link-add {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 21px 0 0 0;
}
@media (min-width: 768px) {
  .catalog__show-link-add {
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 22px;
    overflow: hidden;
    max-height: 15vw;
    max-width: 178px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__show-link-add {
    padding-top: 25px;
  }
}
@media (min-width: 768px) {
  .additional {
    margin-bottom: 140px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional {
    margin-bottom: 85px;
  }
}
.additional__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .additional__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__wrapper {
    padding: 0 110px;
    width: 1440px;
    margin: 0 auto;
    display: grid;
  }
}
.additional__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  max-width: 87vw;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .additional__list {
    max-width: 100%;
  }
}
@media (min-width: 1440px) {
  .additional__list {
    grid-column-start: 1;
    margin: 0;
    padding: 0;
    margin-left: -7px;
  }
}
.additional__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
  padding-bottom: 19px;
}
.additional__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional__item {
    padding-bottom: 5px;
    padding-left: 38px;
    padding-right: 21px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    height: 148px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -9px;
  }
  .additional__item:last-child {
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .additional__item {
    border-left: 0;
    border-right: 0;
    padding: 0;
    height: 81px;
    align-items: center;
    flex-direction: row;
  }
  .additional__item:last-child {
    margin-bottom: -2px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.additional__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 37px;
  position: relative;
}
.additional__title::after {
  content: "";
  height: 2px;
  width: 100vw;
  background-color: #68b738;
  position: absolute;
  top: 14px;
  z-index: -2;
  left: -23px;
}
.additional__title::before {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -1;
  height: 30px;
  left: -23px;
  width: 270px;
}
@media (min-width: 768px) {
  .additional__title {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    padding-left: 36px;
    margin-bottom: 81px;
  }
  .additional__title::after {
    top: 22px;
    left: -30px;
  }
  .additional__title::before {
    width: 421px;
    left: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__title {
    padding-left: 0;
    padding-top: 7px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: -7px;
  }
  .additional__title::after {
    transform: translateX(-50%);
    left: 50%;
    top: 29px;
  }
  .additional__title::before {
    width: 415px;
    left: -43px;
  }
}
.additional__text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .additional__text {
    gap: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__text {
    min-width: 300px;
    margin: 0;
    gap: 0;
    padding-left: 164px;
    flex: auto;
    -moz-column-gap: 55px;
         column-gap: 55px;
    padding-right: 12px;
  }
}
.additional__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .additional__name {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -4px;
    margin-top: 25px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__name {
    min-width: 160px;
    margin: 0;
    padding-bottom: 9px;
  }
}
.additional__text--name,
.additional__text--price {
  align-self: center;
}
@media (min-width: 1440px) {
  .additional__text--name,
  .additional__text--price {
    padding-bottom: 3px;
  }
}
.additional__text--price {
  font-size: 14px;
}
@media (min-width: 768px) {
  .additional__text--price {
    font-size: 16px;
    padding-right: 17px;
  }
}
.additional__button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .additional__button {
    margin-right: 17px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__button {
    width: 244px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
.additional__promotion {
  width: 100%;
  height: 289px;
  background-image: url("../img/additional/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  overflow: hidden;
  max-width: 87vw;
}
@media (min-width: 768px) {
  .additional__promotion {
    height: 200px;
    justify-content: flex-end;
    background-image: url("../img/additional/gift-photo-tablet.png");
    max-width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__promotion {
    height: 290px;
    width: 245px;
    margin-left: auto;
    background-image: url("../img/additional/gift-photo-desktop.png");
    justify-content: center;
    margin-right: 8px;
  }
}
.additional__promotion-text {
  padding-top: 144px;
  position: relative;
}
.additional__promotion-text::before {
  position: absolute;
  display: block;
  content: "";
  height: 80px;
  width: 78px;
  background-image: url("../img/additional/icon-gift.svg");
  top: 15px;
  left: 25%;
}
@media (min-width: 768px) {
  .additional__promotion-text {
    padding: 4px 125px 0 0;
    text-align: left;
    max-width: 50%;
  }
  .additional__promotion-text::before {
    top: -10px;
    left: -344px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional__promotion-text {
    padding: 140px 0 0 0;
    text-align: center;
    max-width: 100%;
  }
  .additional__promotion-text::before {
    top: 15px;
    left: 43px;
  }
}
@media (min-width: 1440px) {
  .selection-program {
    margin-left: -7px;
  }
}
@media (min-width: 768px) {
  .selection-program__list {
    margin-bottom: 10px;
  }
}
.selection-program__title {
  font-family: "oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 29px;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .selection-program__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .selection-program__title {
    margin-top: 65px;
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .selection-program__title {
    margin: 70px 0 60px 0;
  }
}
.selection-program__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .selection-program__description {
    font-size: 20px;
    line-height: 30px;
    margin: 53px 0 50px 40px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .selection-program__description {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .selection-program__col {
    display: flex;
    justify-content: space-between;
  }
}
.program-form {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: -7px;
}
@media (min-width: 1440px) {
  .program-form--selection {
    width: 571px;
  }
}
.program-form--data-cat {
  margin-top: 11px;
}
@media (min-width: 768px) {
  .program-form--data-cat {
    margin-bottom: 14px;
  }
}
.program-form__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .program-form__list {
    margin: 16px 38px 32px 38px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__list {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
  }
}
@media (min-width: 768px) {
  .program-form__list--choise {
    padding-left: 30px;
    height: 196px;
    border: 1px solid #e7e7e7;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .program-form__list--choise {
    border: 1px solid #e7e7e7;
    display: flex;
    gap: 13px;
    padding: 13px 0;
    margin-top: 15px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .program-form--choise {
    width: 570px;
  }
}
.program-form__item {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .program-form__item {
    margin-bottom: 19px;
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__item {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .program-form__item--radio {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .program-form__item--radio {
    margin: 0;
    padding-left: 28px;
  }
}
.program-form__text {
  font-size: 16px;
  text-transform: uppercase;
  border: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .program-form__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.program-form__input {
  padding: 0 0 0 15px;
  width: 100%;
  height: 45px;
  outline: 2px solid #e7e7e7;
  text-transform: uppercase;
  border: none;
  transition-duration: 750ms;
}
.program-form__input::-moz-placeholder {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
.program-form__input::placeholder {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
.program-form__input:hover {
  outline: 2px solid #cdcdcd;
  border: none;
}
.program-form__input:focus {
  outline: 2px solid #444444;
  border: none;
}
.program-form__input:invalid {
  outline: 2px solid #ff8282;
  border: none;
}
@media (min-width: 768px) {
  .program-form__input {
    height: 52px;
  }
  .program-form__input::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
  }
  .program-form__input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__input {
    padding: 0 0 0 20px;
  }
}
.program-form__title {
  cursor: pointer;
}
.program-form__title--radio {
  order: 2;
  position: relative;
}
@media (min-width: 768px) {
  .program-form__title--radio {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .program-form__title--radio {
    margin-right: 235px;
  }
}
.program-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.program-form__radio + label {
  display: inline-flex;
  align-items: center;
  -moz-user-select: none;
       user-select: none;
}
.program-form__radio + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .program-form__radio + label::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}
.program-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
  left: 8px;
}
@media (min-width: 768px) {
  .program-form__radio:checked + label::after {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}
.program__form--area {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .program__form--area {
    margin-right: 85px;
    margin-bottom: 62px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program__form--area {
    margin-bottom: 65px;
    margin-left: -7px;
  }
}
.program__form-area {
  min-width: 280px;
  min-height: 150px;
  width: 100%;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .program__form-area {
    min-height: 175px;
    margin-left: 40px;
    padding-left: 18px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program__form-area {
    margin-left: 0;
    width: 1220px;
  }
}
.program-form__additionall {
  border: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .program-form__additionall {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__additionall {
    margin-bottom: 35px;
  }
}
.program-form__list--additional {
  gap: 12px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .program-form__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    -moz-column-gap: 60px;
         column-gap: 60px;
    flex-wrap: wrap;
  }
}
@media (min-width: 1440px) {
  .program-form__list--additional {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 147px;
         column-gap: 147px;
  }
}
.program-form__input--additional {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}
.program-form__input--additional + label {
  display: inline-flex;
  align-items: center;
  -moz-user-select: none;
       user-select: none;
  position: relative;
}
.program-form__input--additional + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 10%;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .program-form__input--additional + label::before {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}
.program-form__input--additional:checked + label::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../img/additional/icon-v.svg");
  left: 6px;
}
@media (min-width: 768px) {
  .program-form__input--additional:checked + label::after {
    left: 11px;
  }
}
.program-form__sending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program-form__sending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
    -moz-column-gap: 21px;
         column-gap: 21px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__sending {
    padding-left: 0;
    margin-bottom: 87px;
    -moz-column-gap: 7px;
         column-gap: 7px;
  }
}
.program-form__sending-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  border: 0;
}
@media (min-width: 768px) {
  .program-form__sending-button {
    width: 280px;
    height: 52px;
    font-size: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .program-form__sending-button {
    width: 570px;
    margin-left: -7px;
  }
}
.program-form__sending-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .program-form__sending-text {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .program-form__sending-text {
    padding-left: 30px;
  }
}
.page-form {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .page-form {
    padding: 0 30px;
    margin-bottom: 143px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-form {
    width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
.page-form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 38px;
  position: relative;
  text-transform: none;
  margin-top: 21px;
}
.page-form__title::after {
  content: "";
  height: 2px;
  width: 100vw;
  background-color: #68b738;
  position: absolute;
  top: 17px;
  z-index: -2;
  left: -23px;
}
.page-form__title::before {
  content: "";
  position: absolute;
  background-color: white;
  z-index: -1;
  height: 30px;
  left: -23px;
  width: 222px;
}
@media (min-width: 768px) {
  .page-form__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 38px;
    margin-bottom: 76px;
  }
  .page-form__title::after {
    top: 23px;
    left: -70px;
  }
  .page-form__title::before {
    left: -39px;
    width: 591px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-form__title {
    margin-left: 0;
    margin-bottom: 76px;
  }
  .page-form__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
}
.page-form__title--desc {
  margin-bottom: 19px;
}
.page-form__title--desc::after {
  top: 12px;
}
.page-form__title--desc::before {
  left: -58px;
}
@media (min-width: 768px) {
  .page-form__title--desc {
    margin-bottom: 40px;
  }
  .page-form__title--desc::after {
    top: 21px;
  }
  .page-form__title--desc::before {
    left: -39px;
    width: 293px;
  }
}
.page-form__title--greenline::after {
  top: 15px;
}
.page-form__title--greenline::before {
  left: -79px;
}
@media (min-width: 768px) {
  .page-form__title--greenline::after {
    top: 22px;
  }
  .page-form__title--greenline::before {
    left: -37px;
    width: 258px;
  }
}
.program__form--area {
  margin-top: -9px;
}
.data-onwer {
  border: 0;
  padding: 0;
}
@media (min-width: 1440px) {
  .data-onwer {
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .data-onwer__list {
    margin-bottom: 34px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .data-onwer__list {
    flex-direction: row;
    -moz-column-gap: 85px;
         column-gap: 85px;
  }
}
.data-onwer__title {
  text-transform: none;
  margin-top: 12px;
  margin-bottom: 35px;
  position: relative;
}
@media (min-width: 768px) {
  .data-onwer__title {
    margin: 36px 0 78px 37px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .data-onwer__title {
    margin: 10px 0 75px 0;
  }
}
.data-onwer__item {
  position: relative;
}
.data-onwer__item::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  right: 15px;
  top: 16px;
}
@media (min-width: 1440px) {
  .data-onwer__item {
    width: 100%;
  }
}
.data-onwer__item--email::before {
  background-image: url("../../../img/data-owner/icon-email.svg");
}
.data-onwer__item--phone::before {
  background-image: url("../../../img/data-owner/icon-phonel.svg");
  top: 13px;
}
@media (min-width: 768px) {
  .data-onwer__br {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
