.page__footer {
  background-color: @special-grey-three;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 20px 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 45px 30px 30px 30px;

    @media (min-width: @desktop-width) {
      width: 1440px;
      padding: 39px 110px 0 110px;
      margin: 0 auto;
    }
  }
}

.page-footer__logo {
  align-self: center;
  padding-bottom: 15px;

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
  border-top: 1px solid @special-grey-two;

  @media (min-width: @tablet-width) {
    border: 0;
    padding: 0;
    flex-wrap: wrap;
  }
}

.page-footer__social-item--vk {
  padding-left: 34px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.page-footer__social-item--fb {
  padding-right: 42px;
}

.page-footer__social-item {
  align-self: center;

  @media (min-width: @tablet-width) {
    padding-right: 30px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.page-footer__social-item--vk:hover path,
.page-footer__social-item--inst:hover path,
.page-footer__html-academy:hover path {
  fill: @basic-green;
}

.page-footer__social-item--vk:active path,
.page-footer__social-item--inst:active path,
.page-footer__html-academy:active path {
  fill: @basic-green;
  opacity: 40%;
}

.page-footer__html-academy:active {
  opacity: 40%;
}

.page-footer__social-item--fb:hover path {
  stroke: @basic-green;
}

.page-footer__social-item--fb:active path {
  stroke: @basic-green;
  opacity: 40%;
}

.page-footer__social-item--vk svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 23px;
  }
}

.page-footer__social-item--inst svg {
  @media (min-width: @tablet-width) {
    width: 24px;
    height: 24px;
  }
}

.page-footer__social-item--fb svg {
  @media (min-width: @tablet-width) {
    width: 20px;
    height: 30px;
  }
}

.page-footer__html-academy {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  column-gap: 138px;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 15px;
  border-top: 1px solid @special-grey-two;

  @media (min-width: @tablet-width) {
    border: 0;
    column-gap: 2px;
    padding-bottom: 7px;
    padding-top: 0;
  }
}

.page-footer__html-academy-span {
  @media (min-width: @tablet-width) {
    padding-right: 22px;
  }
}
