.background {
  background: linear-gradient(to top, #eaeaea 71%, white 29%);
}

.example {
  padding: 0 20px;
  background-color: #eaeaea;
  margin-top: 42px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    background: linear-gradient(to top, #eaeaea 42.7%, white 29%);

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      width: 1440px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: linear-gradient(to top, #eaeaea 71%, white 29%);
    }
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    background-color: @basic-white;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to top, #eaeaea 71%, white 29%);
  }
}

.example__result--tablet {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    @media (min-width: @desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.example__title {
  .title;
  line-height: 40px;
  font-weight: 400;
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 80px;
    margin-top: 23px;
  }
}

.example__description {
  .basic-text;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    line-height: 24px;
    font-size: 16px;
    margin-top: 64px;
    margin-bottom: 42px;
    padding-right: 28px;

    @media (min-width: @desktop-width) {
      padding-bottom: 32px;
      width: 435px;
      padding-right: 0;
    }
  }
}

.example__result {
  display: flex;
  justify-content: center;
  gap: 24px;

  @media (min-width: @tablet-width) {
    gap: 36px;
  }
}

.example__result-description {
  border: 1px solid @special-grey;
  font-family: "oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  .center-flex;
  transform: rotate(180deg);
  width: 124px;
  height: 62px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    height: 78px;

    @media (min-width: @desktop-width) {
      height: 80px;
    }
  }
}

.example__result-description--two {
  height: 69px;

  @media (min-width: @tablet-width) {
    height: 84px;

    @media (min-width: @desktop-width) {
      height: 80px;
    }
  }
}

.example__result-title {
  font-size: 12px;
  color: @light-black;
  text-align: center;
  transform: rotate(180deg);
  text-transform: lowercase;
  padding-bottom: 3px;
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 10px;
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    text-align: right;
    padding-top: 0;

    @media (min-width: @desktop-width) {
      margin-top: 50px;
      display: flex;
    }
  }
}

.example__result-text {
  transform: rotate(180deg);
}

.example__result-description > .example__result-title {
  width: 100%;
}

.example__price--text {
  @media (min-width: @tablet-width) {
    display: block;
    padding: 0;
    margin-top: 9px;

    @media (min-width: @desktop-width) {
      padding-right: 60px;
      margin-top: 0;
    }
  }
}
