.example {
  padding: 0 20px;
  background-color: @special-grey-three;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    padding: 0 30px;

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      width: 1440px;
      margin: 0 auto;
    }
  }
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__result--tablet {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }
}

.example__title {
  .title;
  line-height: 40px;

  @media (min-width: @desktop-width) {
    padding-bottom: 100px;
  }
}

.example__description {
  .basic-text;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    line-height: 24px;

    @media (min-width: @desktop-width) {
      padding-bottom: 50px;
    }
  }
}

.example__result {
  display: flex;
  justify-content: center;
  gap: 42px;
}

.example__result-description {
  border: 1px solid @special-grey;
  font-family: "oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  .center-flex;
}

.example__result-title {
  font-size: 12px;
  align-items: center;
  color: @light-black;
}

.example__price {
  font-size: 20px;
  text-align: center;
}
