.nutrition-program {
  min-height: 265px;
  background-color: @basic-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 0 20px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    min-height: 372px;
    padding: 0 50px;
    padding-left: 34px;
    justify-content: center;
    padding-left: 50px;

    @media (min-width: @desktop-width) {
      width: 570px;
    }
  }
}

.nutrition-program__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  padding-left: 12px;
  padding-top: 15px;
  font-weight: 400;
  margin: 0;

  &::before {
    content: "";
    width: 50px;
    height: 53px;
    position: absolute;
    left: 395px;
    top: 20px;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 0;
    padding-left: 0;

    &::before {
      width: 200px;
      height: 200px;
      background-size: 200px 200px;
    }
  }
}

.nutrition-program__title--one::before {
  background-image: url("../../../img/nutrition-program/cat_back.svg");
}

.nutrition-program__title--two {
  padding-left: 37px;

  &::before {
    width: 67px;
    left: -10px;
    top: 10px;
    background-image: url("../../../img/nutrition-program/cat_back-2.svg");
  }

  @media (min-width: @tablet-width) {
    &::before {
      width: 270px;
      background-size: 270px 200px;
    }
  }
}

.nutrition-program__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin: 0px;
  flex-grow: 1;
  padding-top: 25px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: left;
    flex-grow: 0;
  }
}

.nutrition-program__button {
  font-family: "oswald", sans-serif;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-black;
  height: 55px;
  display: flex;
  border-top: 1px solid @special-grey-two;
  position: relative;

  &:active {
    opacity: 30%;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    background-image: url("../../../img/nutrition-program/icon-arrow.svg");
    left: 95px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    border: 0;
    padding-top: 55px;
  }
}

.br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
