.promo {
  min-height: 480px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    height: 800px;

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      margin: 0 auto;
      width: 1440px;
    }
  }
}

.promo__wrapper {
  display: grid;
  grid-template-rows: min(305px) min(175px);
  justify-items: start;

  @media (min-width: @tablet-width) {
    grid-template-rows: 1fr 2fr;
    padding-left: 80px;
  }
}

.promo__text {
  font-size: 14px;
  width: 100%;
  line-height: 14px;
  color: @basic-white;
  text-align: center;
  background-image: url("../../../img/promo/index-background-mobile.jpg");
  background-color: @basic-green;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: 100% auto;

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @basic-white;
    color: @basic-black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;

    @media (min-width: @desktop-width) {
      margin-top: 50px;
    }
  }
}

.promo__title {
  .title;
  color: @basic-white;
  margin-bottom: 25px;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    padding-left: 10px;
    margin-top: 60px;
    padding-bottom: 20px;
  }
}

.promo__description {
  text-transform: uppercase;
  margin-bottom: 30px;

  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
  }
}

.promo__program {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    width: 245px;
  }
}

.promo__product {
  height: 180px;
  position: relative;
  .center-flex;

  @media (min-width: @tablet-width) {
    top: 400px;

    @media (min-width: @desktop-width) {
      left: 446px;
      top: -7px;
    }
  }
}

.promo__product-picture {
  position: absolute;
  bottom: 0px;

  @media (min-width: @tablet-width) {
    width: 768px;
    bottom: -29px;
    left: -98px;
    @media (min-width: @desktop-width) {
      bottom: 0px;
    }
  }
}

.promo__button,
.promo__program {
  width: 100%;
  @media (min-width: @desktop-width) {
    position: relative;
    background-color: @opacity-zero;
  }
}

.promo__program {
  padding: 0 20px;
}

.promo__button {
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    height: 55px;
    position: absolute;
    left: 112px;
    top: 372px;
    @media (min-width: @desktop-width) {
      background-color: @basic-green;
      left: -1px;
      top: -11px;
    }
  }
}
