.slider {
  min-height: 232px;
  background-color: @special-grey-three;
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    min-height: 620px;

    @media (min-width: @desktop-width) {
      min-height: 656px;
      width: 650px;
    }
  }
}

.slider-img--before {
  object-fit: cover;
  width: 100%;
}

.slider--desk {
  @media (min-width: @desktop-width) {
    margin-left: 135px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
}
