.slider {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-bottom: 55px;

    @media (min-width: @desktop-width) {
      height: 657px;
    }
  }
}

.slider--wrap {
  min-height: 280px;
  background-color: @special-grey-three;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to top, #eaeaea 66%, white 34%);
    height: 542px;
    overflow: visible;
    width: 705px;

    @media (min-width: @desktop-width) {
      width: 650px;
      margin-top: 0;
      background: linear-gradient(to top, #eaeaea 65%, white 35%);
      height: 545px;
    }
  }
}

.slider-slide {
  @media (min-width: @tablet-width) {
    position: absolute;
    display: flex;
  }
}

.slider-slide--one {
  @media (min-width: @tablet-width) {
    z-index: 1;
    left: 17px;
    width: 50%;
  }
}

.slider-silde--two {
  @media (min-width: @tablet-width) {
    left: 115px;
    align-items: flex-end;
    width: 50%;
  }
}

.slider__pic {
  @media (min-width: @tablet-width) {
    display: flex;
    background: linear-gradient(to top, #eaeaea 67%, white 35%);

    @media (min-width: @desktop-width) {
      background: linear-gradient(to top, #eaeaea 66%, white 35%);
    }
  }
}

.slider__img--before {
  height: 215px;
  width: auto;

  @media (min-width: @tablet-width) {
    height: 510px;
    object-fit: cover;
  }
}

.slider__off {
  display: none;
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.slider--desk {
  @media (min-width: @desktop-width) {
    margin-left: 135px;
  }
}

.slider__control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  @media (min-width: @tablet-width) {
    background-color: @special-grey-three;

    @media (min-width: @desktop-width) {
      justify-content: end;
    }
  }
}

.slider__button {
  width: 70px;
  height: 40px;
  border: 0;
  background: @special-grey-three;

  &:focus {
    background: @special-grey-three;
  }

  &:hover {
    color: @basic-green;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    border-bottom: 1px dashed @special-grey-seven;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.slider__progress-bar {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border-radius: 10px;
  border: 1px solid @special-grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 450px;
    background-color: @special-grey-seven;
    height: 6px;
  }

  @media (min-width: @desktop-width) {
    width: 438px;
  }
}

.slider__indication-bar {
  width: 35px;
  height: 6px;
  border-radius: 10px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.slider__indication-bar--right {
  background-color: @basic-white;
}

.slider__indication-bar--center {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 34px;
    height: 34px;
    background-image: radial-gradient(@basic-green 4px, @basic-white 5px);
    border: 1px solid @special-grey-seven;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

.slider__pic--cat-fat {
  @media (min-width: @tablet-width) {
    object-position: left;
  }
}
