.data-onwer {
  border: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-bottom: 15px;
  }
}

.data-onwer__br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.data-onwer__title {
  text-transform: none;
  margin-top: 12px;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    margin: 55px 0 75px 37px;

    @media (min-width: @desktop-width) {
      margin: 35px 0 75px 0px;
    }
  }
}

.data-onwer__list {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-row: 1fr 1fr;
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 75px;
  }
}

.data-onwer__item {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    right: 15px;
    top: 16px;
  }
}

.data-onwer__item--email {
  &::before {
    background-image: url("../../../img/data-owner/icon-email.svg");
  }
}

.data-onwer__item--phone {
  &::before {
    background-image: url("../../../img/data-owner/icon-phonel.svg");
    top: 13px;
  }
}
