.page-form {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;

    @media (min-width: @desktop-width) {
      width: 1440px;
      margin: 0 auto;
      padding: 0 110px;
    }
  }
}

.page-form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}
