.page-form {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 143px;

    @media (min-width: @desktop-width) {
      width: 1440px;
      margin: 0 auto;
      padding: 0 110px;
    }
  }
}

.page-form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 32px;
  position: relative;
  text-transform: none;

  &::after {
    content: "";
    height: 2px;
    width: 100vw;
    background-color: @basic-green;
    position: absolute;
    top: 17px;
    z-index: -2;
    left: -22px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @basic-white;
    z-index: -1;
    height: 30px;
    width: 30px;
    left: -23px;
    width: 222px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 38px;
    margin-bottom: 76px;

    &::after {
      top: 23px;
      left: -70px;
    }

    &::before {
      left: -39px;
      width: 591px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-bottom: 76px;

      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.page-form__title--desc {
  margin-bottom: 19px;

  &::after {
    top: 12px;
  }

  &::before {
    left: -58px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;

    &::after {
      top: 21px;
    }

    &::before {
      left: -39px;
      width: 293px;
    }
  }
}

.page-form__title--greenline {
  &::after {
    top: 15px;
  }

  &::before {
    left: -79px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      top: 22px;
    }

    &::before {
      left: -37px;
      width: 258px;
    }
  }
}
