.program-form {
  margin: 0;
  padding: 0;
  border: 0;
}

.program-form--selection {
  @media (min-width: @desktop-width) {
    width: 571px;
  }
}

.program-form--data-cat {
  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
  }
}

.program-form__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 16px 38px 38px 38px;

    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.program-form__list--choise {
  @media (min-width: @tablet-width) {
    padding-left: 30px;
    height: 196px;
    border: 1px solid @special-grey-four;
    justify-content: space-evenly;
  }

  @media (min-width: @desktop-width) {
    border: 1px solid @special-grey-four;
    display: flex;
    gap: 13px;
    padding: 13px 0;
    margin-top: 15px;
    margin-right: 0;
  }
}

.program-form--choise {
  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.program-form__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
    column-gap: 23px;

    @media (min-width: @desktop-width) {
      margin-bottom: 20px;
    }
  }
}

.program-form__item--radio {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 28px;
  }
}

.program-form__text {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-form__input {
  padding: 0 0 0 15px;
  width: 100%;
  height: 45px;
  border: 1px solid @special-grey-four;
  text-transform: uppercase;

  &::placeholder {
    color: @light-black;
    font-size: 16px;
    line-height: 18px;
  }

  &:hover {
    outline: 1px solid @special-grey;
  }

  &:focus {
    outline: 1px solid @light-black;
  }

  @media (min-width: @tablet-width) {
    height: 52px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: @desktop-width) {
      padding: 0 0 0 20px;
    }
  }
}

.program-form__title--radio {
  order: 2;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: 250px;
  }
}

.program-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.program-form__radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.program-form__radio + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid @special-grey;
  border-radius: 50%;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.program-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: @basic-green;
  border-radius: 50%;
  left: 8px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
  }
}

.program__form--area {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-right: 85px;
    margin-bottom: 62px;

    @media (min-width: @desktop-width) {
      margin-bottom: 65px;
    }
  }
}

.program__form-area {
  min-width: 280px;
  min-height: 150px;
  width: 100%;
  padding-top: 10px;

  @media (min-width: @tablet-width) {
    min-height: 175px;
    margin-left: 40px;
    padding-left: 18px;

    @media (min-width: @desktop-width) {
      margin-left: 0;
      width: 1220px;
    }
  }
}

.program-form__additionall {
  border: 0;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;

    @media (min-width: @desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.program-form__list--additional {
  gap: 12px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    column-gap: 60px;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 147px;
  }
}

.program-form__input--additional {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: none;
}

.program-form__input--additional + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  position: relative;
}

.program-form__input--additional + label::before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid @special-grey;
  border-radius: 10%;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
}

.program-form__input--additional:checked + label::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../../../img/additional/icon-v.svg");
  left: 6px;

  @media (min-width: @tablet-width) {
    left: 11px;
  }
}

.program-form__sending {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 40px;
    column-gap: 21px;

    @media (min-width: @desktop-width) {
      padding-left: 0;
      margin-bottom: 87px;
    }
  }
}

.program-form__sending-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  border: 0;

  @media (min-width: @tablet-width) {
    width: 280px;
    height: 52px;
    font-size: 20px;

    @media (min-width: @desktop-width) {
      width: 570px;
    }
  }
}

.program-form__sending-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 30px;
  }
}
