.selection-program {
  @media (min-width: @desktop-width) {
    margin-left: -7px;
  }
}

.selection-program__list {
  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.selection-program__title {
  .title;
  font-weight: 400;
  margin-top: 29px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-left: 40px;

    @media (min-width: @desktop-width) {
      margin: 70px 0 60px 0px;
    }
  }
}

.selection-program__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 53px 0 50px 40px;

    @media (min-width: @desktop-width) {
      margin-left: 0px;
    }
  }
}

.selection-program__col {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
