.additional {
  @media (min-width: @tablet-width) {
    margin-bottom: 140px;

    @media (min-width: @desktop-width) {
      margin-bottom: 85px;
    }
  }
}

.additional__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      width: 1440px;
      margin: 0 auto;
      display: grid;
    }
  }
}

.additional__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
  max-width: 87vw;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    max-width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    margin: 0;
    padding: 0;
    margin-left: -7px;
  }
}

.additional__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-top: 1px solid @special-grey;
  padding-bottom: 19px;

  &:last-child {
    border-bottom: 1px solid @special-grey;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 5px;
    padding-left: 38px;
    padding-right: 21px;
    border-left: 1px solid @special-grey;
    border-right: 1px solid @special-grey;
    height: 148px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -9px;

    &:last-child {
      margin-bottom: 23px;
    }
  }

  @media (min-width: @desktop-width) {
    border-left: 0;
    border-right: 0;
    padding: 0;
    height: 81px;
    align-items: center;
    flex-direction: row;

    &:last-child {
      margin-bottom: -2px;
      border-bottom: 1px solid @special-grey;
    }
  }
}

.additional__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 37px;
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 100vw;
    background-color: @basic-green;
    position: absolute;
    top: 14px;
    z-index: -2;
    left: -23px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @basic-white;
    z-index: -1;
    height: 30px;
    left: -23px;
    width: 270px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    padding-left: 36px;
    margin-bottom: 81px;

    &::after {
      top: 22px;
      left: -30px;
    }

    &::before {
      width: 421px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      padding-left: 0;
      padding-top: 7px;
      grid-column-start: 1;
      grid-column-end: 3;
      margin-left: -7px;

      &::after {
        transform: translateX(-50%);
        left: 50%;
        top: 29px;
      }

      &::before {
        width: 415px;
        left: -43px;
      }
    }
  }
}

.additional__text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    gap: 50px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;

    @media (min-width: @desktop-width) {
      min-width: 300px;
      margin: 0;
      gap: 0;
      padding-left: 164px;
      flex: auto;
      column-gap: 55px;
      padding-right: 12px;
    }
  }
}

.additional__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 7px;
  margin-top: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: -4px;
    margin-top: 25px;

    @media (min-width: @desktop-width) {
      min-width: 160px;
      margin: 0;
      padding-bottom: 9px;
    }
  }
}

.additional__text--name,
.additional__text--price {
  align-self: center;

  @media (min-width: @desktop-width) {
    padding-bottom: 3px;
  }
}

.additional__text--price {
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding-right: 17px;
  }
}

.additional__button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-right: 17px;

    @media (min-width: @desktop-width) {
      width: 244px;
      height: 40px;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}

.additional__promotion {
  width: 100%;
  height: 289px;
  background-image: url("../img/additional/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: cover;
  color: @basic-white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  .center-flex;
  display: flex;
  text-align: center;
  overflow: hidden;
  max-width: 87vw;

  @media (min-width: @tablet-width) {
    height: 200px;
    justify-content: flex-end;
    background-image: url("../img/additional/gift-photo-tablet.png");
    max-width: 100%;

    @media (min-width: @desktop-width) {
      height: 290px;
      width: 245px;
      margin-left: auto;
      background-image: url("../img/additional/gift-photo-desktop.png");
      justify-content: center;
      margin-right: 8px;
    }
  }
}

.additional__promotion-text {
  padding-top: 144px;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: "";
    height: 80px;
    width: 78px;
    background-image: url("../img/additional/icon-gift.svg");
    top: 15px;
    left: 25%;
  }

  @media (min-width: @tablet-width) {
    padding: 4px 125px 0 0;
    text-align: left;
    max-width: 50%;

    &::before {
      top: -10px;
      left: -344px;
    }

    @media (min-width: @desktop-width) {
      padding: 140px 0 0 0;
      text-align: center;
      max-width: 100%;

      &::before {
        top: 15px;
        left: 43px;
      }
    }
  }
}
