.catalog {
  @media (min-width: @tablet-width) {
    margin-bottom: -11px;

    @media (min-width: @desktop-width) {
      margin-bottom: 4px;
    }
  }
}

.catalog__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;

    @media (min-width: @desktop-width) {
      padding: 0 110px;
      width: 1440px;
      margin: 0 auto;
    }
  }
}

.catalog__title {
  font-weight: 400;
  margin-top: 34px;
  overflow: hidden;
  max-width: 87vw;

  @media (min-width: @tablet-width) {
    margin-top: 64px;

    @media (min-width: @desktop-width) {
      margin-top: 73px;
      margin-left: -7px;
    }
  }
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;

  @media (min-width: @tablet-width) {
    gap: 60px;
    justify-content: flex-start;
    margin-top: 165px;
    margin-bottom: 0;
    row-gap: 62px;

    @media (min-width: @desktop-width) {
      gap: 80px;
      margin-left: -7px;
    }
  }
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr min-content;
  padding-top: 12px;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    background-color: @special-grey-five;
    top: 15px;
  }

  @media (min-width: @tablet-width) {
    height: 430px;
    margin-bottom: 78px;

    &::before {
      height: 0;
    }
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr min-content;
    justify-items: center;
    width: 324px;
    background-color: @basic-grey;

    @media (min-width: @desktop-width) {
      width: 245px;
      margin-bottom: 65px;
    }
  }
}

.catalog__item-img-container {
  width: 140px;
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  .center-flex;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    grid-row: 1;
    position: absolute;
    width: 170px;
    top: -125px;
    padding-top: 38px;
  }
}

.catalog__item-img-container--small-img {
  @media (min-width: @tablet-width) {
    top: -98px;
  }
}

.catalog__item-img {
  object-fit: cover;
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 23px 50px 10px 0;
  margin: 0;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    padding: 0;
    width: 145px;
    text-align: center;
    padding-top: 150px;
  }
}

.catalog__item-description {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 250px;
    border-top: 1px solid @special-grey;
    padding: 5px 0;

    &:first-child {
      border: 0;
    }

    @media (min-width: @desktop-width) {
      justify-content: space-between;
      width: 242px;
      padding: 5px 38px;
    }
  }
}

.catalog__text {
  font-family: "arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  overflow: hidden;
  max-width: 35vw;
}

.catalog__item-information {
  padding-bottom: 15px;
}

.catalog__item-information td {
  font-size: 12px;
  line-height: 16px;
  font-family: "arial", sans-serif;
  font-weight: 400;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 1px 0 1px 0;
  }
}

.catalog__item-information {
  @media (min-width: @tablet-width) {
    width: 170px;
  }
}

.catalog-item__button {
  grid-column-start: 1;
  grid-column-end: -1;
  height: 40px;
  width: 100%;
  margin-bottom: 11px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 250px;
    margin-top: 24px;

    @media (min-width: @desktop-width) {
      width: 170px;
      margin-top: 25px;
    }
  }
}

.catalog__show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  max-width: 87vw;

  @media (min-width: @tablet-width) {
    text-align: center;
    width: 248px;
    height: 100%;
    justify-content: space-between;
  }
}

.catalog__item-show {
  width: 100%;
  border-top: 1px solid @special-grey;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 430px;
    .center-flex;
    border: 1px solid @special-grey;
    margin-top: 0;

    @media (min-width: @desktop-width) {
      width: 245px;
    }
  }
}

.catalog__show-link {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;

    & svg {
      width: 60px;
      height: 60px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 47px;
    }
  }
}

.catalog__show-link-img {
  padding-top: 24px;
}

.catalog__show-link-text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin: 7px 0 22px 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding-bottom: 97px;
    overflow: hidden;
    max-height: 10vw;
    max-width: 178px;

    @media (min-width: @desktop-width) {
      padding-bottom: 65px;
    }
  }
}

.catalog__show-link-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color: @basic-grey;
  color: @light-black;
  border: 0;

  &:hover {
    background-color: @special-grey-six;
  }

  &:active {
    background-color: @special-grey-six;
    color: @opacity-grey-two;
  }

  @media (min-width: @tablet-width) {
    width: 250px;
    margin-bottom: 42px;

    @media (min-width: @desktop-width) {
      width: 169px;
      margin-bottom: 41px;
    }
  }
}

.catalog__show-link-add {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 21px 0 0 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-top: 0;
    padding-top: 22px;
    overflow: hidden;
    max-height: 15vw;
    max-width: 178px;

    @media (min-width: @desktop-width) {
      padding-top: 25px;
    }
  }
}
