@basic-green: #68b738;
@basic-black: #000;
@light-black: #444444;
@special-grey: #cdcdcd;
@basic-white: white;
@special-white: #e6e6e6;
@basic-grey: #f2f2f2;
@special-grey-two: #d9d9d9;
@special-grey-three: #eaeaea;
@special-grey-four: #e7e7e7;
